{
    "nick": "Nymeria-js",
    "pass": "password",
    "chan": ["##techfilmer", "##techfilmer-bot"],
    "user": "olympicsbot",
    "logchan": "##techfilmer-bot",
    "prefix": ".",
    "trusted": {
        "cmd": [
	    "tcheck",
	    "trustedcheck",
	    "msg",
	    "act"
	],
	"cloaks": [
	    "april-fools/2014/runnerup/skasturi",
	    "gateway/shell/cadoth.net/x-bowlrewzdnbiphub"
	]
    },
    "op": {
        "cmd": [
	    "op",
	    "deop",
	    "opcheck"
	],
        "cloaks": {
	    "april-fools/2014/runnerup/skasturi": ["##techfilmer"],
	    "gateway/shell/cadoth.net/x-vdxrszmhgrgmnlck": ["##techfilmer"]
	 }
    },
    "owner": {
        "cmd": [
	    "ownercheck",
	    "ocheck",
	    "do",
	    "join",
	    "part",
	    "quit"
	],
	"cloaks": [
	    "april-fools/2014/runnerup/skasturi",
	    "wikipedia/Fox-Wilson"
	]
    },
    "cmd": [
        "memo",
	"help",
	"oracle",
	"ddate",
	"coffee",
	"cookie",
	"goat",
	"wolf",
	"bear",
	"kitty",
	"penguin",
	"tea",
	"troll"
    ]
}

